<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title>
      AIEP'NEWS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios">
    <ion-toolbar>
      <ion-title size="large">AIEP'NEWS</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-articles [articles]="articles"></app-articles>
  <ion-infinite-scroll threshold="25%" [disabled]="true" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="cargando mas datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
